stages:
  - test
  - build
  - deploy

# Run flake8 to check for code quality
lint-test-job:
  image: python:3-bullseye
  stage: test
  script:
    - pip install flake8
    - flake8 accounts_service favorites_service yelp_api_service

# Run the unit tests
# accounts-api-unit-test-job:
#   image: python:3-bullseye
#   stage: testflake
#   needs:
#     - lint-test-job
#   script:
#     - cd accounts_service
#     - pip install -r requirements.txt
#     - python -m pytest

# favorites-api-unit-test-job:
#   image: python:3-bullseye
#   stage: test
#   needs:
#     - lint-test-job
#   script:
#     - cd favorites_service
#     - pip install -r requirements.txt
#     - python -m pytest

# yelp-api-unit-test-job:
#   image: python:3-bullseye
#   stage: test
#   needs:
#     - lint-test-job
#   script:
#     - cd yelp_api_service
#     - pip install -r requirements.txt
#     - python -m pytest

# Build the React/JavaScript front-end
build-front-end-job:
  stage: build
  image: node:lts-bullseye
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - lint-test-job
  variables:
    # If either of these variables is defined in the GitLab
    # CI/CD variables, that value will override the value here.
    # You need to substitute in your real values for
    # GROUP_NAME, PROJECT_NAME, & WEBSERVICE_NAME below.
    PUBLIC_URL: https://brewhoppers.gitlab.io/brew-hop/
    REACT_APP_ACCOUNTS_SERVICE_API_HOST: https://brewhop-accounts-service.onrender.com
    REACT_APP_FAVORITES_SERVICE_API_HOST: https://brewhop-favorites-service.onrender.com
    REACT_APP_YELP_API_SERVICE_API_HOST: https://brewhop-yelp-api-service.onrender.com
  script:
    - cd ghi
    - npm install
    - npm run build
    - cp build/index.html build/404.html
  artifacts:
    paths:
      - ghi/build/

# Deploy the React/JavaScript front-end to GitLab pages
pages:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  dependencies:
    - build-front-end-job
  needs:
    - build-front-end-job
  script:
    - mv ghi/build/ public
  artifacts:
    paths:
      - public
