volumes:
  postgres-data:
    external: true
services:
  accounts:
    build:
      context: accounts_service
      dockerfile: ./Dockerfile.dev
    ports:
      - "8000:8000"
    volumes:
      - ./accounts_service:/app
    environment:
      DATABASE_URL: postgres://users:password@postgres:5432/users
      WAIT_HOSTS: postgres:5432
  favorites:
    build:
      context: favorites_service
      dockerfile: ./Dockerfile.dev
    ports:
      - "8001:8000"
    volumes:
      - ./favorites_service:/app
    environment:
      DATABASE_URL: postgres://users:password@postgres:5432/users
      WAIT_HOSTS: postgres:5432 
  yelp_api:
    build:
      context: yelp_api_service
      dockerfile: ./Dockerfile.dev
    ports:
      - "8002:8000"
    volumes:
      - ./yelp_api_service:/app
    environment:
      WAIT_HOSTS: postgres:5432
  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_SAMPLE_SERVICE_API_HOST: http://localhost:8000
  postgres:
    build:
      context: ./relational-data
      dockerfile: ./Dockerfile.dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_MULTIPLE_DATABASES=users,favorites
      - POSTGRES_PASSWORD=test-databases
    ports:
      - "15432:5432"
