.brewery-details {
    background-color: #282c34;
    align-items: center;
    text-align: center;
    .title {
        text-decoration: underline;
        color: #FFCD45;
    }
    .text-area {
        background-color: #282c34;
        border: transparent;
        color: #FFCD45;
        transform: scale(0.90);
        bottom: 46px;

        .fav-text {
            display: block;
            visibility: hidden;
        }

        .favorite-btn {
            max-width: 18mm;
            background: transparent;
            border: transparent;
            padding-top: 0;
            padding-bottom: 0;
            margin: auto;
        }

        .favorite-btn:hover + .fav-text {
            display: block;
            visibility: visible;
            animation: fadeIn 1s;
        }

        .list-group-item {
            background-color: #282c34;
        }

        .card-img {
            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
            max-height: 375px;
            border-color: #FFCD45;
            border: solid 2px;
            border-radius: 25px;
        }

    }
}

.map-container {
    background: #FFCD45;
    border-radius: 25px;
    margin-left: 99px;
    margin-top: 20px;
    height: 80%;
    width: 80%;
    animation: fadeIn 1s;
}
.leaflet-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}