h1 {
    span {
        color:#FFCD45;
    }
}

.featured {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-around;


    .card1,
    .card2,
    .card3 {
        animation: fadeIn 1s;
        padding: 12px;
        flex-direction: column;
        .title {
            text-align: center;
            max-width: fit-content;
            color: #fff;
            font-weight: 700;
            font-style: oblique;
        }
        .btn {
            height: 40px;
            border: 2px solid #FFCD45;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            animation: fadeIn 2s;
        }
        &:hover {
            transform: scaleY(1.1) scaleX(1.1);
        }
        .btn:hover {
        transform: translateY(-3px);
        background: #FFCD45;
        }
    }
}